@import "tailwindcss";

@theme {
  --color-primary: var(--primaryColor);
  --color-snow: var(--snowColor);
  --radius-cxl: 4.5rem;
  --animate-bounce-subtle: bounce-subtle 2s infinite ease-in-out;
  --animate-slide-up: slide-up 0.8s cubic-bezier(0.16, 1, 0.3, 1);

  @keyframes bounce-subtle {
    0%,
    100% {
      transform: translateY(-5%);
    }
    50% {
      transform: translateY(0);
    }
  }

  @keyframes slide-up {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

:root {
  --primaryColor: #00d09e;
  --snowColor: #f1fff3;
}

button {
  @apply cursor-pointer;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #e2e8f0;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primaryColor);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #e2e8f0 transparent;
}

.bg-dot-pattern {
  background-image: radial-gradient(#00d09e 1px, transparent 1px);
  background-size: 24px 24px;
}

@keyframes bounce-x {
  0%,
  100% {
    transform: translateY(-50%) translateX(0);
  }
  50% {
    transform: translateY(-50%) translateX(-10px);
  }
}

@keyframes bounce-x-reverse {
  0%,
  100% {
    transform: translateY(-50%) translateX(0);
  }
  50% {
    transform: translateY(-50%) translateX(10px);
  }
}

.animate-bounce-x {
  animation: bounce-x 1s infinite;
}

.animate-bounce-x-reverse {
  animation: bounce-x-reverse 1s infinite;
}
